<p>Dear advocate,</p>

<p>We weren't able to save your image to the map.</p>

<p>This may be because there was no location data embedded in the photo. In order to make sure that we are able to place the photo on the map, follow these two steps: </p>
<p>1. Send the photo (that you took) directly from your phone. Sometimes computers (and social sites like Facebook or Instagram) strip the location data for privacy sake.</p>
<p>2. Make sure that you have location turned on. Follow these links for instructions for <a href="http://forums.imore.com/guides-how-articles/271636-guide-how-enable-disable-geotagging.html">iPhone</a> and <a href="http://smallbusiness.chron.com/geotagging-android-smartphones-38742.html">Android</a>.</p>

<p>A big thank you to ABC members who make our advocacy work possible. If you're not a member of the Atlanta Bicycle Coalition, please join right now at <a href="http://www.atlantabike.org/join">www.atlantabike.org/join</a>.</p>