<p>Dear advocate,</p>

<p>Thank you for sharing your photo with the Atlanta Bicycle Coalition's Unblock the Bike Lane campaign. Your feedback is very important to our efforts to improve enforcement and update policies that prevent motor vehicles from stopping in designated bike lanes.</p>

<h3>Please take a look at the map here: <a href="http://blocked-lane-map.herokuapp.com">http://blocked-lane-map.herokuapp.com/</a></h3>

<p>A big thank you to ABC members who make our advocacy work possible. If you're not a member of the Atlanta Bicycle Coalition, please join right now at <a href="http://www.atlantabike.org/join">www.atlantabike.org/join</a>.</p>