<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unblock the Lanes</title>
    <!--link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.5.0/MarkerCluster.css')-->
    <!--link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.5.0/MarkerCluster.Default.css')-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/stylesheets/styles.css">
  </head>
</html>
<body>
  <h1>map</h1>
  <h2>da map</h2>
  <div id="map" height="500px"></div>
  <script src="assets/javascripts/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.5.0/leaflet.markercluster-src.js"></script>
  <script src="assets/javascripts/index.js"></script>
</body>